<form [formGroup]="form" (submit)="onSubmit()">
    <input type="hidden" formControlName="id" />
    <div class="modal-header">
        <h5 class="modal-title pull-left">Set password for:</h5>
        <button type="button" class="btn btn-sm btn-outline-secondary shadow-none ms-auto" aria-label="Close"
            (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex flex-column justify-content-center mb-2">
            <div class="d-flex flex-row justify-content-center">
                <strong>{{account.firstName}}</strong>
                <span>&nbsp;</span>
                <strong>{{account.lastName}}</strong>
            </div>
        </div>
        <hr/>
        <div class="form-group mb-2">
            <label for="password">New password</label>
            <input type="password" id="password" formControlName="password" class="form-control"
                [class.is-invalid]="form.get('password')?.touched && form.get('password')?.invalid">
            @if (form.get('password')?.hasError('required')) {
            <div class="invalid-feedback">Password is required</div>
            }
            @if (form.get('password')?.hasError('weak')) {
            <div class="invalid-feedback">Password is to weak</div>
            }
        </div>
        <div class="form-group mb-2">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
                [class.is-invalid]="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid">
            @if (form.get('confirmPassword')?.hasError('required')) {
            <div class="invalid-feedback">Password is required</div>
            }
            @if (form.get('confirmPassword')?.hasError('mismatch')) {
            <div class="invalid-feedback">Passwords are not matched</div>
            }
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancel</button>
        <button type="submit" class="btn btn-primary ms-auto" [disabled]="!form.valid">Set password</button>
    </div>
</form>