<div class="input-group">
    <input type="text" class="form-control" [placeholder]="placeholder" [value]="formattedValue">
    <button class="btn btn-outline-secondary date-picker-action" type="button" (click)="toggleCalendar()">Calendar</button>
</div>
<div class="dropdown">
    @if(calendarVisible) {
    <div class="dropdown-content">
        <div class="calendar-header">
            <button type="button" class="date-picker-action" (click)="setMode(ControlMode.Months)">{{ months[calendarData.month].fullName }}</button>
            <button type="button" class="date-picker-action" (click)="setMode(ControlMode.Years)">{{ calendarData.year }}</button>
        </div>
        @switch (mode) {
            @case (ControlMode.Calendar){
                <ng-container *ngTemplateOutlet="calendarTable"></ng-container>
            }
            @case (ControlMode.Months){
                <ng-container *ngTemplateOutlet="monthTable"></ng-container>
            }
            @case (ControlMode.Years){
                <ng-container *ngTemplateOutlet="yearTable"></ng-container>
            }
        }
    </div>
    }
</div>
<ng-template #calendarTable>
    <div class="calendar-body">
        <table class="calendar-table">
            <thead>
                <tr>
                    @for(weekDay of weekDays; track $index) {
                    <th>{{ weekDay.shortName}}</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for(week of calendarData.monthTable; track $index) {
                <tr>
                    @for(day of week.days; track $index) {
                    <td>
                        @if(day) {
                            <button type="button" class="date-picker-action calendar-day" (click)="onDayClick(day)">{{day.day}}</button>
                        } @else {
                        }
                    </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</ng-template>
<ng-template #monthTable>
    <table class="month-table">
        <tbody>
            @for(monthRow of monthDictionary; track $index) {
            <tr>
                @for(month of monthRow; track $index) {
                    <td>
                        <button type="button" class="date-picker-action" (click)="onMonthClick(month.index)">{{month.fullName}}</button>
                    </td>
                    }
            </tr>
            }
        </tbody>
    </table>
</ng-template>
<ng-template #yearTable>

</ng-template>